
    <div class="col-left">
            <h4 class="category-head" style="text-transform: uppercase; background: #16a085; color: #fff; padding: 17px; margin: 0px; cursor: pointer;">
                <i class="fa fa-bars"></i>
                <span>Danh mục</span>
            </h4>
        <div class="category">

            <ul class="unliststyle">
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Văn học Việt Nam</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Văn học nước ngoài</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Thời sự - Chính trị</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Khoa học - Công nghệ</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Thiếu nhi</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Tham khảo</a></li>
                <li class="category-item"><a href="@Url.Action("ShowListProduct", "Home")">Giáo dục</a></li>
            </ul>
        </div>
        <div class="special">
            <h4 class="special-name">Đặc biệt</h4>
            <ul class="unliststyle special-content">
                <li class="special-item">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="@Url.Action("Product", "Home")">
                                <img src="~/wwwroot/public/book/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                <h4 class="new-price">Gía: 100000</h4>
                                <span class="percent">-33%</span>
                                <p class="old-price">Sale off: 130000</p>
                            </div>
                            <p class="product-name">Chất lượng giáo dục đại học nhìn từ góc độ hội nhập</p>
                            <!-- <div class="descrip">Descrip</div> -->
                        </div>
                    </div>
                </li>
                <li class="special-item">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="@Url.Action("Product", "Home")">
                                <img src="~/wwwroot/public/book/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                <h4 class="new-price">Gía: 50000</h4>
                                <span class="percent">-33%</span>
                                <p class="old-price">Sale off: 150000</p>
                            </div>
                            <p class="product-name">Cô nhóc Tiểu Anh Đào</p>
                            <!-- <div class="descrip">Descrip</div> -->
                        </div>
                    </div>
                </li>
                <li class="special-item">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="@Url.Action("Product", "Home")">
                                <img src="~/wwwroot/public/book/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                <h4 class="new-price">Gía: 100000</h4>
                                <span class="percent">-33%</span>
                                <p class="old-price">Sale off:130000</p>
                            </div>
                            <p class="product-name">Điều khiển và giám sát với S7200-S7300 PC ACCESS WINCC</p>
                            <!-- <div class="descrip">Descrip</div> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="review">
            <h4 class="review-name">Nhận xét</h4>
            <!-- <ul class="unliststyle review-content">
            <li class="review-item">
                <div class="product-item">
                    <div class="product-img">
                        <a href="">
                            <img src="public/book/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Price</h4>
                        </div>
                        <p class="product-name">Produc Name</p>
                        <div class="descrip">Descrip</div>
                    </div>
                    <div class="product-rate">
                        <ul class="unliststyle">
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="review-item">
                <div class="product-item">
                    <div class="product-img">
                        <a href="C:\Users\TranAnhNamDinh\Downloads\template\template\frontend\product.html">
                            <img src="public/book/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Price</h4>
                        </div>
                        <p class="product-name">Produc Name</p>
                        <div class="descrip">Descrip</div>
                    </div>
                    <div class="product-rate">
                        <ul class="unliststyle">
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="review-item">
                <div class="product-item">
                    <div class="product-img">
                        <a href="">
                            <img src="public/book/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Price</h4>
                        </div>
                        <p class="product-name">Produc Name</p>
                        <div class="descrip">Descrip</div>
                    </div>
                    <div class="product-rate">
                        <ul class="unliststyle">
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                            <li class="product-rate-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul> -->
        </div>
    </div>
