
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <div class="link">
                            <ul class="unliststyle">
                                <li class="link-item"><a href="">
                                    <i class="fa fa-home"></i>
                                    <span>Trang Chủ</span>
                                </a></li>
                                <li class="link-item"><a href="">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <span>Navigation link</span>
                                </a></li>
                                <li class="link-item"><a href="">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <span>Navigation link</span>
                                </a></li>
                            </ul>
                        </div> -->
<div class="slide-show">
    <div class="slide-stage">
        <div class="slide-item active"><img src="~/wwwroot/public/slideshow/1.jpg" alt=""></div>
        <div class="slide-item"><img src="~/wwwroot/public/slideshow/2.jpg" alt=""></div>
        <div class="slide-item"><img src="~/wwwroot/public/slideshow/3.jpg" alt=""></div>
        <div class="slide-item"><img src="~/wwwroot/public/slideshow/4.jpg" alt=""></div>
        <div class="slide-item"><img src="~/wwwroot/public/slideshow/5.jpg" alt=""></div>
    </div>
    <div class="slide-control">
        <ul class="slide-page unliststyle">
            <!-- <li class="page-poiter fa fa-circle"></li>
            <li class="page-poiter fa fa-circle-o"></li> -->
        </ul>
        <ul class="slide-arrow unliststyle">
            <li class="arrow-left"><i class="fa fa-chevron-left"></i></li>
            <li class="arrow-right"><i class="fa fa-chevron-right"></i></li>
        </ul>
    </div>
</div>
<div class="brand">
    <ul class="unliststyle brand-stage">
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
        <li class="brand-item"><img src="~/wwwroot/public/brand/brand.png" alt=""></li>
    </ul>
    <div class="arrow-left"><i class="fa fa-angle-left"></i></div>
    <div class="arrow-right"><i class="fa fa-angle-right"></i></div>
</div>
<div class="product">
    <div class="category-product">
        <h4 class="product-head">Danh sách sản phẩm</h4>
        <div class="product-list">
            <div class="col-xs-4">
                <div class="product-item">
                    <div class="product-img">
                        <a href="@Url.Action("Product", "Home")">
                            
                            <img src="~/wwwroot/public/book/1.jpg" alt="">
                            <span class="badge-new">Mới</span>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Giá: 10000</h4>
                            <span class="percent">-33%</span>
                            <p class="old-price">Sale off: 130000</p>
                        </div>
                        <p class="product-name">Chất lượng giáo dục đại học nhìn từ góc độ hội nhập</p>
                        <!-- <div class="descrip">Descrip</div> -->
                    </div>
                    <div class="product-link">
                        <ul class="unliststyle">
                            <li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
                            <li class="product-link-item"><i class="fa fa-info-circle"></i></li>
                            <li class="product-link-item"><i class="fa fa-eye"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="product-item">
                    <div class="product-img">
                        <a href="@Url.Action("Product", "Home")">
                            <img src="~/wwwroot/public/book/2.jpg" alt="">
                            <span class="badge-new">Mới</span>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Giá: 50000</h4>
                            <span class="percent">-20%</span>
                            <p class="old-price">Sale off: 100000</p>
                        </div>
                        <p class="product-name">Cô nhóc Tiểu Anh Đào XOYTO COMIC (Phần 1)</p>
                        <!-- <div class="descrip">Descrip</div> -->
                    </div>
                    <div class="product-link">
                        <ul class="unliststyle">
                            <li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
                            <li class="product-link-item"><i class="fa fa-info-circle"></i></li>
                            <li class="product-link-item"><i class="fa fa-eye"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="product-item">
                    <div class="product-img">
                        <a href="@Url.Action("Product", "Home")">
                            <img src="~/wwwroot/public/book/3.jpg" alt="">
                            <span class="badge-new">Mới</span>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-price">
                            <h4 class="new-price">Gía: 100000</h4>
                            <span class="percent">-33%</span>
                            <p class="old-price">Sale off: 130000</p>
                        </div>
                        <p class="product-name">Điều khiển và giám sát với S7200-S7300 PC ACCESS WINCC</p>
                        <!-- <div class="descrip">Descrip</div> -->
                    </div>
                    <div class="product-link">
                        <ul class="unliststyle">
                            <li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
                            <li class="product-link-item"><i class="fa fa-info-circle"></i></li>
                            <li class="product-link-item"><i class="fa fa-eye"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="product-item">
                <div class="product-img">
                    <a href="@Url.Action("Product", "Home")">
                        <img src="~/wwwroot/public/book/4.jpg" alt="">
                        <span class="badge-new">Mới</span>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-price">
                        <h4 class="new-price">Gía: 100000</h4>
                        <span class="percent">-33%</span>
                        <p class="old-price">Sale off: 130000</p>
                    </div>
                    <p class="product-name">Giáo dục gía trị nghề nghiệp</p>
                    <!-- <div class="descrip">Descrip</div> -->
                </div>
                <div class="product-link">
                    <ul class="unliststyle">
                        <li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
                        <li class="product-link-item"><i class="fa fa-info-circle"></i></li>
                        <li class="product-link-item"><i class="fa fa-eye"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="product-item">
            <div class="product-img">
                <a href="@Url.Action("Product", "Home")">
                    <img src="~/wwwroot/public/book/5.jpg" alt="">
                    <span class="badge-new">Mới</span>
                </a>
            </div>
            <div class="product-info">
                <div class="product-price">
                    <h4 class="new-price">Gía: 100000</h4>
                    <span class="percent">-33%</span>
                    <p class="old-price">Sale off: 130000</p>
                </div>
                <p class="product-name">Giáo trình hàn</p>
                <!-- <div class="descrip">Descrip</div> -->
            </div>
            <div class="product-link">
                <ul class="unliststyle">
                    <li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
                    <li class="product-link-item"><i class="fa fa-info-circle"></i></li>
                    <li class="product-link-item"><i class="fa fa-eye"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
